/* General styles */
body {
    font-family: 'Roboto, Arial, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header-root {
    flex-grow: 1;
}

.header-appBar {
    height: 100px; /* Make the border bigger */
    display: flex;
    justify-content: center;
}

.header-toolbar {
    justify-content: center;
    width: 100%;
}

.header-toolbar-button {
    font-size: 1.5em; /* Increase the font size */
    padding: 10px 20px; /* Increase the padding */
    margin: 0 10px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
}

/* Banner styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/background-image.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.banner-content {
    max-width: 60%;
}

.banner-content h1 {
    font-size: 2.5em;
    margin: 0;
}

.tagline-top {
    font-size: 1.5em;
    margin: 10px 0;
}

.tagline-bottom {
    font-size: 1.2em;
    margin: 10px 0;
}

.banner-logo img {
    max-width: 100px;
    margin-top: 20px;
}

/* Introduction styles */
.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 40px 20px;
    text-align: center;
}

.introduction-content {
    max-width: 800px;
}

.introduction-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.introduction-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

/* Divider styles */
.divider {
    width: 100%;
    height: 20px;
    background-color: #000;
    margin: 0;
}

/* About Us styles */
.about-us {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.about-us-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-us-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

/* Features styles */
.features {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.features-content {
    max-width: 1200px;
    margin: 0 auto;
}

.features-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.feature-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* min-height: 278px; */
}

.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: pointer; /* Change cursor to pointer */
}

.feature-item p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

/* Services styles */
.services {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.services-content {
    max-width: 1200px;
    margin: 0 auto;
}

.services-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: pointer; /* Change cursor to pointer */
}

.service-content {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.service-item.active .service-content {
    max-height: 500px; /* Adjust as needed */
    padding: 10px 0;
}